---
---

<div id="container">
	<main>
		<paragraph class="text">work in progress ...</paragraph>
	</main>
</div>

<style>
	main {
		margin: 0 auto;
		max-width: 800px;
		padding-top: 20vh;
	}
	.text {
		color: #E8F1F2;
		font-family: monospace;
	}
</style>
